@scope (.todos-form-section) {
    /* apply scope root styles */
    :scope {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
    }
    
    input {
        margin-top: .5rem;
        padding: .25rem;
        border-radius: 5px;
        font-size: 1rem;
    }

    button {
        margin-top: .5rem;
        padding-block: .25rem;
    }
}