html,
body {
  font-family: sans-serif;
}

body {
  background-color: #1e293b;
  color: #f8fafc;
}

.wrapper {
  width: min(90%, 25rem);
  margin-inline: auto;
}

button {
  font-size: 1rem;
  border: none;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .05rem;
}